<div class="font-black text-2xl text-gray-700 mb-2">Chat History</div>
<div class="flex flex-wrap large-screen">
    <div class="basis-full sm:basis-full lg:basis-3/6 xl:basis-2/6">
        <app-list></app-list>
    </div>
    <div class="basis-full sm:basis-full lg:basis-3/6 xl:basis-4/6">
        <app-messages></app-messages>
    </div>
</div>

<div class="small-screen" *ngIf="showList == true;else messages">
    <app-list [smallScreen]="true"></app-list>
</div>

<ng-template #messages>
    <div class="small-screen">
        <app-messages [smallScreen]="true" [showBack]="true"></app-messages>
    </div>
</ng-template>