<p-card styleClass="h-fit mr-2">
    <div class="w-full flex justify-end items-center pb-2">
        <span class="p-input-icon-left w-full mr-2 inline-block">
            <i class="pi pi-search"></i>
            <input type="text" class="w-full p-inputtext-sm" pInputText placeholder="Search Chat">         
        </span>
        <button type="button" class="py-2.5 px-5 mr-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
            <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
          </svg>
        </button>
        <button type="button" class="py-2.5 px-5 mr-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bell-fill" viewBox="0 0 16 16">
            <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"/>
          </svg>
        </button>
    </div>
   

    <div class="w-full overflow-y-auto sc2 cursor-pointer" [ngClass]="{'h-[calc(100vh-20rem)]':smallScreen,'height-card':!smallScreen}">
        <!-- Card -->
        <div *ngFor="let i of favourites" (click)="openConversation(1)" class="w p-4 mt-2 rounded-lg shadow border border-gray-200">
            <div class="flex items-center">
                <div class="basis-0.2 mr-3">
                    <p-avatar shape="circle" label="t"></p-avatar>
                </div>
                <div class="basis-0.6 mr-3 flex flex-column flex-wrap">
                    <div class="basis-full">
                        <b>Customer 1</b>
                    </div>
                    <div class="basis-full">
                        Hello How are you ?
                    </div>
                </div>
                <div class="basis-0.2 flex flex-column flex-wrap">
                    <div class="basis-full text-slate-500">
                        1 Hour ago
                    </div>                
                </div>
            </div>
        </div>
    </div>
</p-card>