<div class="font-black text-2xl text-[#4a5568]">Jobs</div>

<div class="flex">
    
</div>

<div class="divide-slate-300 mt-2">
    <app-job-card [jobTitle]="'HVAC Repair Needed'" [budget]="500" pricing="Negotiable" posted="2 hours ago"
        description='Need basic code written for “better touch tool” or "Keyboard Maestro" to make purchases on chrome desktop from a retail website over and over again. The code would need to only purchase 1 time from the 1 website over and over and over again. This is very simple task.'
        [tags]="['Restaurant', 'HVAC']" [proposalCount]="3" location="Calgary,AB"></app-job-card>

    <app-job-card jobTitle="Oven is not working" [budget]="1200" pricing="Fixed" posted="5 hours ago"
        description='Need basic code written for “better touch tool” or "Keyboard Maestro" to make purchases on chrome desktop from a retail website over and over again. The code would need to only purchase 1 time from the 1 website over and over and over again. This is very simple task.'
        [tags]="['Restaurant', 'Oven', 'Equipment', 'Repair']" [proposalCount]="10" location="Calgary,AB">
    </app-job-card>

    <app-job-card [jobTitle]="'HVAC Repair Needed'" [budget]="500" pricing="Negotiable" posted="2 hours ago"
        description='Need basic code written for “better touch tool” or "Keyboard Maestro" to make purchases on chrome desktop from a retail website over and over again. The code would need to only purchase 1 time from the 1 website over and over and over again. This is very simple task.'
        [tags]="['Restaurant', 'HVAC']" [proposalCount]="3" location="Calgary,AB"></app-job-card>

    <app-job-card jobTitle="Oven is not working" [budget]="1200" pricing="Fixed" posted="5 hours ago"
        description='Need basic code written for “better touch tool” or "Keyboard Maestro" to make purchases on chrome desktop from a retail website over and over again. The code would need to only purchase 1 time from the 1 website over and over and over again. This is very simple task.'
        [tags]="['Restaurant', 'Oven', 'Equipment', 'Repair']" [proposalCount]="10" location="Calgary,AB">
    </app-job-card>
</div>