<section class="bg-white">
    <div class="max-w-screen-xl px-4 mx-auto md:pt-4 sm:px-6 lg:px-8">
      <div class="max-w-3xl mx-auto text-center">
        <h2 class="text-base text-indigo-600 font-semibold tracking-wide uppercase">See Our Impact</h2>
        <p class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl">Our App, Your Benefit</p>
        <p class="mt-4 text-gray-500 sm:text-xl">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione dolores
          laborum labore provident impedit esse recusandae facere libero harum
          sequi.
        </p>
      </div>
  
      <div class="mt-8 sm:mt-12">
        <dl class="grid grid-cols-1 gap-4 sm:grid-cols-3">
          <div
            class="flex flex-col px-4 py-8 text-center border border-gray-100 rounded-lg"
          >
            <dt class="order-last text-lg font-medium text-gray-500">
                More visits
            </dt>
  
            <dd class="text-4xl font-extrabold text-indigo-700 md:text-5xl">
                +38% 
            </dd>
          </div>
  
          <div
            class="flex flex-col px-4 py-8 text-center border border-gray-100 rounded-lg"
          >
            <dt class="order-last text-lg font-medium text-gray-500">
              Working Days
            </dt>
  
            <dd class="text-4xl font-extrabold text-indigo-700 md:text-5xl">+12</dd>
          </div>
  
          <div
            class="flex flex-col px-4 py-8 text-center border border-gray-100 rounded-lg"
          >
            <dt class="order-last text-lg font-medium text-gray-500">
              Less No-Show
            </dt>
  
            <dd class="text-4xl font-extrabold text-indigo-700 md:text-5xl">-25%</dd>
          </div>
        </dl>
      </div>
    </div>
  </section>