<p-card styleClass="h-fit mr-2">
    <div class="w-full flex justify-start text-3xl items-center pb-2">
       Customer 1
    </div>
   

    <div class="w-full height-card overflow-y-auto sc2">
        <!-- Card -->
            <ul class="space-y-2 p-4 mt-2 rounded-lg">
                <li class="flex justify-start">
                  <div class="relative max-w-xl px-4 py-2 bg-indigo-900 text-gray-100 rounded shadow">
                    <span class="block">Hi</span>
                  </div>
                </li>
                <li class="flex justify-end">
                  <div class="relative max-w-xl px-4 py-2 text-gray-700 bg-gray-100 rounded shadow">
                    <span class="block">Hiiii</span>
                  </div>
                </li>
                <li class="flex justify-end">
                  <div class="relative max-w-xl px-4 py-2 text-gray-700 bg-gray-100 rounded shadow">
                    <span class="block">how are you?</span>
                  </div>
                </li>
                <li class="flex justify-start">
                  <div class="relative max-w-xl px-4 py-2 bg-indigo-900 text-gray-100 rounded shadow">
                    <span class="block">Lorem ipsum dolor sit, amet consectetur adipisicing elit. </span>
                  </div>
                </li>

                <li class="flex justify-start">
                    <div class="relative max-w-xl px-4 py-2 bg-indigo-900 text-gray-100 rounded shadow">
                      <span class="block">Hi</span>
                    </div>
                  </li>
                  <li class="flex justify-end">
                    <div class="relative max-w-xl px-4 py-2 text-gray-700 bg-gray-100 rounded shadow">
                      <span class="block">Hiiii</span>
                    </div>
                  </li>
                  <li class="flex justify-end">
                    <div class="relative max-w-xl px-4 py-2 text-gray-700 bg-gray-100 rounded shadow">
                      <span class="block">how are you?</span>
                    </div>
                  </li>
                  <li class="flex justify-start">
                    <div class="relative max-w-xl px-4 py-2 bg-indigo-900 text-gray-100 rounded shadow">
                      <span class="block">Lorem ipsum dolor sit, amet consectetur adipisicing elit. </span>
                    </div>
                  </li>

                  <li class="flex justify-start">
                    <div class="relative max-w-xl px-4 py-2 bg-indigo-900 text-gray-100 rounded shadow">
                      <span class="block">Hi</span>
                    </div>
                  </li>
                  <li class="flex justify-end">
                    <div class="relative max-w-xl px-4 py-2 text-gray-700 bg-gray-100 rounded shadow">
                      <span class="block">Hiiii</span>
                    </div>
                  </li>
                  <li class="flex justify-end">
                    <div class="relative max-w-xl px-4 py-2 text-gray-700 bg-gray-100 rounded shadow">
                      <span class="block">how are you?</span>
                    </div>
                  </li>
                  <li class="flex justify-start">
                    <div class="relative max-w-xl px-4 py-2 bg-indigo-900 text-gray-100 rounded shadow">
                      <span class="block">Lorem ipsum dolor sit, amet consectetur adipisicing elit. </span>
                    </div>
                  </li>

                  <li class="flex justify-start">
                    <div class="relative max-w-xl px-4 py-2 bg-indigo-900 text-gray-100 rounded shadow">
                      <span class="block">Hi</span>
                    </div>
                  </li>
                  <li class="flex justify-end">
                    <div class="relative max-w-xl px-4 py-2 text-gray-700 bg-gray-100 rounded shadow">
                      <span class="block">Hiiii</span>
                    </div>
                  </li>
                  <li class="flex justify-end">
                    <div class="relative max-w-xl px-4 py-2 text-gray-700 bg-gray-100 rounded shadow">
                      <span class="block">how are you?</span>
                    </div>
                  </li>
                  <li class="flex justify-start">
                    <div class="relative max-w-xl px-4 py-2 bg-indigo-900 text-gray-100 rounded shadow">
                      <span class="block">Lorem ipsum dolor sit, amet consectetur adipisicing elit. </span>
                    </div>
                  </li>
                
              </ul>

    </div>

    <!-- Input for message -->
    <div class="input-height mt-3 flex justify-between items-center w-full">
                <input type="text p-inputtext-sm" class="w-full mr-5" pInputText placeholder="Enter your message">   
                <button type="button" class="py-3.5 px-5  mr-2 text-sm font-medium text-gray-100 focus:outline-none bg-indigo-600 rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                    Send
                </button>      
    </div>
</p-card>