:host ::ng-deep .height-card{
    max-height: 650px;
}

.input-height{
    height: 100px;
}

/* Scroll 2 */
.sc2::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

.sc2::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.274);
    border-radius: 10px;
}
  
.sc2::-webkit-scrollbar-thumb {
    background-color: #11171a1c;
    border-radius: 10px;
}
  