<header class="w-full grow-0 shrink-0 shadow-lg bg-zinc-50 dark:bg-zinc-300 items-center h-16 z-40">
    <div class="relative z-20 flex flex-col justify-center h-full px-3 mx-auto flex-center">
          <div class="relative items-center pl-1 flex w-full lg:max-w-68 sm:pr-2 sm:ml-0">
            <svg *ngIf="sidebarOpen" (click)="setOpen(false)" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-x text-zinc-800 cursor-pointer" viewBox="0 0 16 16">
              <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
            </svg>
            <svg *ngIf="!sidebarOpen" (click)="setOpen(true)" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-list text-zinc-800 cursor-pointer" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
            </svg>
            <div class="flex items-center justify-center w-full text-xl text-zinc-800">
                <span class="mr-2 text-sm font-semibold cursor-pointer city-text" (click)="op.toggle($event)">Calgary, Alberta 
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down inline-block" viewBox="0 0 16 16">
                    <path d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"/>
                  </svg> </span>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input [formControl]="searchJobsText" (keyup.enter)="alert()" type="text" class="p-inputtext-sm search-bar" pInputText placeholder="Search Jobs">         
                </span>
            </div>
            <!-- notification bell -->
            <i (click)="notificationsPanel.toggle($event)" class="pi pi-bell text-zinc-800 dark:text-zinc-800 pr-5 cursor-pointer"></i>
            <!-- Dropdown for user links -->
            <app-title-dropdown></app-title-dropdown>
          </div>
    </div>
    <div class="w-full bg-indigo-600 h-2">
    </div>
</header>

<p-overlayPanel [dismissable]="true" #op>
    <ng-template pTemplate>
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input type="text" style="width:250px;" class="p-inputtext-sm" pInputText placeholder="Search your City">         
        </span>
        <br/>
        <br/>
        <button class="p-button-sm" pButton label="Save"></button>
    </ng-template>
</p-overlayPanel>

<p-overlayPanel [dismissable]="true" #notificationsPanel>
    <ng-template pTemplate>
        Hello notifications
    </ng-template>
</p-overlayPanel>